.userBlock {
  display: flex;
  background-color: lightgray;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.userPhoto {
  width: 75px;
}

.userBlockLeft,
.userBlockRight {
  background-color: white;
  border-radius: 5px;
  padding: 5px;
}

.userBlockLeft button {
  width: 100%;
}

.userBlockRight {
  width: 100%;
  margin-left: 5px;
}

.userName{
  font-weight: bold;
}

.userStatus {
  font-size: 0.9em;
  font-style: italic;
}

.userLocation {
  margin-top: 5px;
}
