.formControl textarea {
  width: 100%;
}
.formControl.error input,
.formControl.error textarea {
  border: 1px solid red;
}

.formControl.error span {
  color: red;
}

.errorBlock {
  border: 1px solid red;
  padding: 5px;
  margin: 5px 0;
  color: red;
}
