.sidebar {
  grid-area: nav;
  border: 5px solid lightgray;
  border-radius: 5px;
  padding: 5px;
}

.nav {
  display: flex;
  flex-direction: column;
}

.nav a {
  color: black;
  text-decoration: none;
}

.nav a:hover {
  text-decoration: underline;
}

.nav a.active {
  color: red;
}

.widget {
  border: 5px solid lightgray;
  border-radius: 5px;
  margin-top: 10px;
  padding: 5px;
}

.widget button {
  margin-top: 5px;
}