body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
}

.app {
  display: grid;
  width: 800px;
  margin: 0 auto;

  grid-template-areas:
    "header header header"
    "nav content content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 5px;
}

.content {
  grid-area: content;
  border: 5px solid lightgray;
  border-radius: 5px;
  padding: 5px;
}
