.app {
  display: grid;
  width: 800px;
  margin: 0 auto;

  grid-template-areas:
    "header header header"
    "nav content content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 5px;
}

.content {
  grid-area: content;
  border: 1px solid;
  padding: 5px;
}
