.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogItems {
  padding: 5px;
}

.dialogItems .active {
  color: red;
}

.dialog {
}

.messages {
}

.message {
}

.messageForm {
  display: flex;
  flex-direction: column;
  width: 200px;
}
